<h1>Cheerups</h1>

<%= link_to 'Create cheerup', new_image_path %>

<div class="container">
<% @images.each do |image| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body cheer-up">
          <%= image.uri %>
          <text class="image-text">
            <%= image.description %>
          </text>
          <%= image_tag image.upload.url(:medium) %>

        </div>
        <div class="panel-footer">
          <%= link_to 'Show', image_path(image) %>
          <%= link_to 'Edit', edit_image_path(image) %>
          <%= link_to 'Destroy', image_path(image),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

