<!-- <h1>Index#new</h1>
<p>Find me in app/views/images/index.html.erb</p>
 -->

<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'images' %>

<%= form_for :images, url: images_path do |f| %>
  <p>
    <%= f.label :title %><br>
  </p>

  <p>
    <%= f.label :text %><br>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<h1>Listing articles</h1>

<%= link_to 'New image', new_image_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>

  <% @images.each do |image| %>
    <tr>
      <td><%= image.title %></td>
      <td><%= image.text %></td>
      <td><%= link_to 'Show', image_path(image) %></td>
      <td><%= link_to 'Edit', edit_image_path(image) %></td>
    </tr>
  <% end %>
</table>









<!-- <!DOCTYPE html>
<html>
  <head>
  </head>
<body>

<h1>Hello World!</h1>

  <div id="content">
  </div>

  <div id="wrapper">

  <main id="cheerup-main">
    <div id="cheerups">
      <div class="cheerup" style="display: inline-block;"></div>
        <div class="cheerup-content"></div>
        <div class="cheerup_poster_info"></div>

  </div>


</body>
</html> -->
