<h1 class="text-center">Cheerups</h1>

<p class="text-center">
<%= link_to 'Create a cheerup', new_image_path %>
</p>

<div class="container">
<% @images.each do |image| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body cheer-up">
          <p class="text-center">
            <%= image.uri %>
          </p>
          <p class="text-center">
            <%= image_tag image.upload.url(:medium) %>
          </p>
          <p class="image-text text-center">
            <%= image.description %>
          </p>
        </div>
        <div class="panel-footer">
          <%= link_to 'Show', image_path(image) %>
          <%= link_to 'Edit', edit_image_path(image) %>
          <%= link_to 'Destroy', image_path(image),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

