
<p>
  <strong>Title:</strong>
  <%= @image.uri %>
</p>

<p>
  <strong>Text:</strong>
  <%= @image.description %>
</p>

<h2>Comments</h2>
<%= render @image.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= image_tag @image.upload.url(:medium) %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
